@using CRMSystem.Common
@model CRMSystem.Web.ViewModels.Accounts.AllAccountsViewModel
@{
    this.ViewData["Title"] = $"All accounts";
}

    <div class="text-center">
        <h1 class="display-3">@this.ViewData["Title"]</h1>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark text-dark-100" asp-controller="Accounts" asp-action="Create">Create an account</a>
            </li>
        </ul>
        @*<cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
            <h1 class="display-3">@DateTime.UtcNow</h1>
        </cache>*@

        @*<a asp-controller="Deals" asp-action="Create">Create deal</a>*@
    </div>
<hr />
<div class="align-content-center">
    <body class="align-content-center">
        <div class="text-left">
            <table width="400" cellpadding="10" cellspacing="30" class="table">
                <thead>
                    <tr>
                        <th>Account name</th>
                        <th>Account owner</th>
                        <th>Created time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.Accounts)
                    {

                        <tr>
                            <td>
                                <h3 class="mt-0">
                                    <a href="@account.Url">
                                        @Html.DisplayFor(Model => account.AccountName)
                                    </a>
                                </h3>
                            </td>
                            <td>
                                @Html.DisplayFor(Model => account.UserUserName)
                            </td>
                            <td>
                                <time datetime="@account.CreatedOn.ToString("O")"></time>
                            </td>
                        </tr>

                    }
                </tbody>

            </table>

            <footer id="footer"></footer>

        </div>
    </body>
    
</div>


