@using CRMSystem.Common
@model CRMSystem.Web.ViewModels.Accounts.AllAccountsViewModel
@{
    this.ViewData["Title"] = $"All accounts";
}

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
    @*<cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
            <h1 class="display-3">@DateTime.UtcNow</h1>
        </cache>*@

    <a asp-controller="Deals" asp-action="Create">Create deal</a>
</div>
<hr />
<div class="row">
    @foreach (var account in Model.Accounts)
    {
       
        <div class="col-md-4 media">
            @*<img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title">*@
            <div class="media-body">
                <h5 class="mt-0">
                    <a href="@account.Url">
<<<<<<< HEAD
                        @account.AccountName                       

=======
                        @account.AccountName
>>>>>>> 5c1d09cda30939a408f8dac636b462151659c0ea
                    </a>

                </h5>
                @account.AccountOwner
                @account.CreatedOn
            </div>
        </div>
        <div></div>
    }
</div>


