@using System.Security.Claims;
@using System.Linq;

    <link rel="stylesheet" type="text/css" href="~/css/site.css" />

@model CRMSystem.Web.ViewModels.Deals.DealViewModel
@{
    this.ViewData["Title"] = Model.Name;
    void DisplayOrders(int? orderId)
    {
        var orders = this.Model.Orders.Where(x => x.DealId == Model.Id);
        if (!orders.Any())
        {
            return;
        }



        @foreach (var order in orders)
        {
            <div class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center">
                                    @*<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" class="d-block ui-w-40 rounded-circle" alt="">*@
                                    <div class="media-body ml-3">
                                        @order.ProductName
                                    </div>
                                    <div class="media-body ml-3">
                                        @order.Price BGN
                                    </div>

                                    @Html.ActionLink("Details", "ById", "Orders", new { id = order.Id})
                                </div>
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }


    }
}

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}

<h1>@Model.Name</h1>
<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        @*<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" class="d-block ui-w-40 rounded-circle" alt="">*@
                        <div class="media-body ml-3">
                            Account owner: @Model.UserUserName

                            <div class="text-muted small">
                                <time datetime="@Model.CreatedOn.ToString("O")"></time>
                            </div>
                            <div class="text-muted small">
                                Stage: @Model.Stage
                            </div>
                            <div class="text-muted small">
                                Amount: @Model.Orders.Sum(o => o.Price) BGN
                            </div>
                        </div>
                        
                    </div>
                </div>
                <td>
                    @if (this.User.IsInRole("Administrator") || this.User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    }

                    <a asp-controller="Orders" asp-action="Create" asp-route-id="@Model.Id">Create new order</a>


                </td>
                <div class="card-body">
                    Orders:
                    @{ DisplayOrders(null); }

                </div>
            </div>
        </div>
    </div>
    <footer id="footer"></footer>
</div>



<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: ["image paste table link code media"]
    });</script>
<div>
    <form asp-controller="Orders" asp-action="ById" method="post" id="EditOrderForm" style="display: none">
        
        
        
    </form>
</div>





