@using CRMSystem.Common
@using System.Linq
@model CRMSystem.Web.ViewModels.Deals.AllDealsViewModel
@{
    this.ViewData["Title"] = $"All deals";
    var totalAmount = 0;
}

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
    @*<cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
            <h1 class="display-3">@DateTime.UtcNow</h1>
        </cache>*@
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    @*<a asp-controller="Deals" asp-action="Create">Create deal</a>*@
</div>
<hr />

<p>
    @using (Html.BeginForm("GetAll", "Deals", FormMethod.Get))
    {
        <b>Search By:</b> @Html.RadioButton("searchBy", "Name", true) <text>Name</text>
        @Html.RadioButton("searchBy", "UserName") <text>UserName</text><br />
@Html.TextBox("search") <input type="submit" value="Search" />
}
</p>

<div class="align-content-center">
    <body class="align-content-center">
        <div class="text-left">
            <table width="400" cellpadding="10" cellspacing="30" class="table">
                <thead>
                    <tr>
                        <th>Deal name</th>
                        <th>Account name</th>
                        <th>Deal owner</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var deal in Model.Deals)
                    {
                       
                            
                        

                        <tr>
                            <td>
                                <h3 class="mt-0">
                                    <a href="@deal.Url">
                                        @Html.DisplayFor(Model => deal.Name)
                                    </a>
                                </h3>
                            </td>
                            <td>
                                @Html.DisplayFor(Model => deal.AccountAccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(Model => deal.UserUserName)
                            </td>
                            <td>
                                
                                @deal.Orders.Sum(o => o.Price) BGN
                            </td>
                        </tr>

                    }
                </tbody>

            </table>

            <footer id="footer"></footer>

        </div>
    </body>
</div>



