@using CRMSystem.Common
@model CRMSystem.Web.ViewModels.Deals.AllDealsViewModel
@{
    this.ViewData["Title"] = $"All deals";
}

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
    @*<cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
            <h1 class="display-3">@DateTime.UtcNow</h1>
        </cache>*@

    @*<a asp-controller="Deals" asp-action="Create">Create deal</a>*@
</div>
<hr />
<div class="row">
    @foreach (var deal in Model.Deals)
    {

        <div class="col-md-4 media">
            @*<img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title">*@
            <div class="media-body">
                <h5 class="mt-0">
                    <a href="@deal.Url">
                        @deal.AccountName
                    </a>

                </h5>
                @deal.DealOwner
                @deal.CreatedOn
            </div>
        </div>
        <div></div>
    }
</div>


