@using System.Security.Claims;

@model CRMSystem.Web.ViewModels.Users.UserViewModel
@{
    
}

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}

<h1>@Model.UserName</h1>
<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        @*<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" class="d-block ui-w-40 rounded-circle" alt="">*@
                        <div class="media-body ml-3">
                            Username: @Model.UserName

                            <div class="text-muted small">
                                <time datetime="@Model.CreatedOn.ToString("O")"></time>
                            </div>
                            <div class="text-muted small">
                                First Name: @Model.FirstName
                            </div>
                            <div class="text-muted small">
                                Last Name: @Model.LastName
                            </div>
                            @if (Model.City != null && Model.Country != null)
                            {
                                <div class="text-muted small">
                                    City: @Model.City
                                </div>
                                <div class="text-muted small">
                                    Country: @Model.Country
                                </div>
                            }

                        </div>
                    </div>
                </div>
                
                <div class="card-body">

                    

                </div>
            </div>
        </div>
    </div>
</div>




